@model IEnumerable<EntityMVC.Models.departments>

@{
    ViewBag.Title = "Index";
}

<center><h2>Departments</h2></center>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            <center>Department name</center>
        </th>
        <th>
            <center>Street address</center>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <center>@Html.DisplayFor(modelItem => item.department_name)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.locations.street_address)</center>
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.department_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.department_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.department_id })
        </td>*@
    </tr>
}

</table>
