@model IEnumerable<EntityMVC.Models.employees>

@{
    ViewBag.Title = "Index";
}

<center><h2>Employees</h2></center>


<table class="table">
    <tr>
        <th>
            <center>First name</center>
        </th>
        <th>
            <center>Last name</center>
        </th>
        <th>
            <center>E-mail</center>
        </th>
        <th>
            <center>Phone number</center>
        </th>
        <th>
            <center>Hire date</center>
        </th>
        <th>
            <center>Salary</center>
        </th>
        <th>
            <center>Department</center>
        </th>
        <th>
            <center>Job title</center>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <center>@Html.DisplayFor(modelItem => item.first_name)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.last_name)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.email)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.phone_number)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.hire_date)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.salary)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.departments.department_name)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.jobs.job_title)</center>
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employee_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.employee_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employee_id })
        </td>*@
    </tr>
}

</table>
